h1 Employers#show
h3 = link_to "Manage Jobs", jobs_path, method: :get
p = @employer.email
p = @employer.full_description
p = @employer.offer
p = link_to 'Edit', edit_employer_registration_path, method: :get
