.resume {
	.resume_choose {
		display: block;
		input[type='radio'] {
			display: inline-block;
			margin: 10px;
		}
		input[type='file'] {
			display: inline-block;
		}
		.notice_valid {
			color: green;
		}
		.notice_invalid {
			color: red;
		}
	}

	.description p {
		color: #999!important;
	}
}
