.resume {
	.resume_choose {
		display: block;
		input[type='radio'] {
			display: inline-block;
			margin: 10px;
		}
		input[type='file'] {
			display: inline-block;
		}
		span {
			display: none;
		}
		span.alert_input_invalid {
			color: red;
		}
		span.alert_input_valid {
			color: green;
		}
	}

	.description p {
		color: #999!important;
	}
}
