#salary_container {
	display: none;
}
.navbar {
	margin-bottom: 0px;
}
.banner {
	//background-color: #eee;
	height: 500px;
	display: flex;
	align-items: center;
	background-image: url('/assets/background/job-bg.jpg');
	background-size: cover;
	h1 {
		text-align: center;
	}

	.search-box{
		.keyword{
			position: relative;
			//display: flex;
			//flex-direction: column;
			* {
				width: 100%;
			}

			input {
				border: none;
				border-bottom: 1px solid #000;
				font-size: 60px;
				background: transparent;
				//position: relative;
			}

			.icon-search {
					position: absolute;
					display: inline;
					//flex: 1;
				  //top: 50%;
				  //margin-left: 17px;
				  //margin-top: 17px;
				  //z-index: 1;
				  width: 85px;
			}
		}



		.select-group {
			margin-top: 20px;
			input {
				width: 100%;
				font-size: 20px;
			}
		}
	}
}


.jobs-content {
	.logo {
		img {
			width: 100%;
		}
	}

	.job-descriptions {
		ul {
			list-style: none;
			li {
				display: inline;
				padding-left: 10px;
				padding-right: 10px;
			}
		}


		.posted-time {
			.col-md-1 {
				padding-left: 10px;
				padding-right: 10px;
			}
			img {
				width: 100%;
			}

			p {
				font-size: 18px;
			}
		}
	}
}